{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}Demande de renvoie de mot de passe - GestionAgenda{% endblock %}

{% block body_text %}
{% autoescape false %}
	
{% endautoescape %}
{% endblock %}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}
	<p>
		Bonjour {{ user.nom }}.
	</p>
	<p>
		Tu peux récupérer ton mot de passe <a href="{{confirmationUrl}}">ici</a> !
	</p>
	<p>
		Cordialement,</br>
		l'équipe GestionAgenda
	</p>
{% endblock %}
