{% extends 'layout/auth/panel.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}



{% block panel_auth_body %}
    <div class="module form-module">
        <div class="toggle" ><i class="fa fa-times fa-pencil"></i>
        </div>
        <div class="form">
            <h2>Confirmation de renvoi de mot de passe</h2>
            <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
            <br>
            <form action="{{ path("fos_user_security_login") }}"method="GET" class="fos_user_security_login" >
                <button type="submit" >Retour</button>
            </form>
        </div>
    </div>
{% endblock %}